<configuration>
	<connectionStrings>
		<add name ="LocalConnection"
			 connectionString ="Data Source=192.168.77.166,1433;Initial Catalog=MessengerDB;TrustServerCertificate=True;User Id=Admin;Password=dianahhh1920h;"/>
	</connectionStrings>

	<appSettings>
		<add key="ImagesPath"
			 value="../../../../Messenger.Views/Resources/Images/"/>
		<add key="ServerNameByDefault"
			 value="Bila Tserkva Server #1"/>
		<add key="PathToSaveImages"
			 value="Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)"/>
	</appSettings>
</configuration>