<configuration>
	<connectionStrings>
		<add name ="LocalConnection"
			 connectionString ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MessengerDB;Integrated Security=True"/>
	</connectionStrings>

	<appSettings>
		<add key="ImagesPath"
			 value="../../../../Messenger.Views/Resources/Images/"/>
	</appSettings>
</configuration>