<configuration>
	<connectionStrings>
		<add name ="LocalConnection"
			 connectionString ="Data Source=DESKTOP-FSRVVMR\SQLEXPRESS;Initial Catalog=MessengerDB;Integrated Security=True;TrustServerCertificate=True;"/>
	</connectionStrings>

	<appSettings>
		<add key="ImagesPath"
			 value="../../../../Messenger.Views/Resources/Images/"/>
		<add key="ServerNameByDefault"
			 value="Bila Tserkva Server #1"/>
	</appSettings>
</configuration>